.country {
    display: flex;
    align-items: center;
    width: 80px;
    font-size: xx-large;
    gap: 1rem;
    transform: translate(-100%);
}

img  {
    width: 70px;
}

.country-info {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul li {
    width: 200px;
    height: 35px;
    display: flex;
    align-items: center;
    margin: 1.5em;
    cursor: pointer;
    padding: 1em;
    background: rgb(43, 43, 43);
    position: relative;
    color: white;
    border-radius: 5px;
    justify-content: center;
    font-size: large;
}

ul li::before,
ul li::after {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 5px;
    width: 105%;
    transition: all 0.4s;
}

ul li::before {
    left: 0%;
    height: 130%;
    background: linear-gradient(to right, #021B79, #0575E6);
}

ul li::after {
    left: -10%;
    height: 120%;
    background: #ffffff56;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.164);
}

ul li:hover::before {
    transform: translateX(-2.5%);
}

ul li:hover::after {
    transform: translateX(15%);
}

a {
    text-decoration: none;
    color: white;
}

.border-countries-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}